.ios, .md{
  page-menu-transportista {
    .bg{
      background-color: #e0e0e0;
    }
      ion-list{
        background-color: #e0e0e0;
    }

    .button-item{
        width: 96%;
        margin: 5px 2%;
        -webkit-box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.75);
    }

    .estado{
        height: 100%;     
        width: 1em;       
    }

    .item-inner{
        padding: 0 !important;
    }
  }
}
