page-menu {
    

    ion-header {
        background-image: url('../../assets/imgs/background2.png');
        background-size: cover;
        background-position-y: 30%;
        height: 10em;
    }

    ion-title * {
        font-family: 'Poiret One';
    }

    .header-data{
        color: white;       
        text-shadow: 2px 1px 0px black;
    }
}
